.albums-container {
    flex-basis: 45%;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    margin: 20px auto;
    box-shadow: 0 0 20px gray;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}
