.hd-wrapper {
    background-color: rgb(0, 81, 173);
    color: white;
    padding: 10px;

    .title {
        text-align: center;
        font-size: 18px;
        text-transform: capitalize;
    }
}

section:first-of-type {
    margin: 5px auto;
    border: 1px solid rgb(10, 10, 121);
}

section.content {
    margin: 30px 15px;
    .flex-hr {
        justify-content: center;
    }
}

.item {
    position: relative;
    max-width: 200px;
    min-height: 270px;
    display: flex;
    font-size: 14px;
    border: 1px solid rgb(185, 185, 185);
    text-align: center;
    flex-direction: column;
    flex: 1 0 200px;
    cursor: pointer;
    background-color: white;
    transition: all 1s ease;
    border-radius: 4px;
    z-index: 10;

    .wrap-item {
        padding: 20px 10px;
    }

    &:hover {
        z-index: 100;
        transform: scale(1.15, 1.15);
        transition: all 0.2s ease;
        border: none;
        box-shadow: 0px 0px 15px rgb(43, 43, 43);
    }

    .logo {
        max-width: 80px;
        margin: 0px auto 20px;

        img {
            display: block;
            width: 100%;
        }
    }

    .item-name {
        min-height: 90px;
        font-weight: 600;
        font-size: 16px;

        span {
            display: block;
            font-size: 14px;
        }
    }

    .email {
        font-weight: 600;
        font-size: 12px;
    }

    .phone {
        a {
            color: rgb(0, 81, 173);
            text-decoration: none;
        }
    }
}

.flex-hr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.loading-users {
    text-align: center;
    margin: 150px auto;
    font-size: 24px;
    line-height: 40px;
}

//search-container
.search-container {
    padding: 10px 20px;
    line-height: 2;

    .flex-hr {
        justify-content: flex-start;
        align-items: center;

        div {
            padding-right: 30px;
        }
    }

    .title {
        margin-left: 20px;
        font-weight: 600;
    }

    label {
        margin-right: 5px;
        color: rgb(0, 81, 173);
        font-weight: 600;
    }
}

button {
    padding: 2px 10px;
    background-color: rgb(30, 103, 187);
    color: white;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    margin-right: 30px;

    &:hover {
        background-color: rgb(0, 81, 173);
    }
}
